################
# secret vars  #
################

deployer_pass: '$6$4OwG.MKbO$nj.fZnvWqN4OgxXAi06S5EZleqa0bzOT3nseQ7fxgpuPLWRCL2sYCD6qp/MLF5dAGNm.pFhAU5gXi7VDxgB2L1'
# deployer password is fuMio8meig
# generate mkpasswd --method=SHA-512

db_password: 'TestPassSecret'
# simple db pass