.sass-cache
*.todo
*.sqlite3
.emacs.*
.bash_logout
.bashrc
.profile
.ssh/*
.DS_Store
.bash_history
.lesshst
.ssh
.bash_profile
.viminfo
.psql_history
.idea
.mysql_history
.ruby_inline
.vim*
.bundle/*
.yardoc/*
.yardopts
.bin
.vagrant
config/darberry.yml
config/mailchimp.yml
config/alfabank.yml
config/nginx.dev.conf
config/alfabank.yml
config/database.yml
config/paypal.yml
config/mandrill.yml
config/settings.yml
config/redis.yml
doc/*
fotoshkola*.sql
log/*
private/stats/*
private/system/*
public/system/*
public/videos/*
public/assets/*
Thumbs.db
tmp/*
db/schema.rb
chromedriver.log
.ruby-gemset
vendor/bundle
bin/*
.tddium*
*.sublime*
playground/
Vagrantfile
*public/uploads/tmp
*~
