.sass-cache
*.todo
.bash_logout
.bashrc
.profile
.ssh/*
.DS_Store
.bash_history
.lesshst
.ssh
.bash_profile
.viminfo
.psql_history
.idea
.mysql_history
.ruby_inline
.vim*
.bundle/*
.yardoc/*
.yardopts
.bin
.vagrant
group_vars/secrets
files/keys/developers.pub
log/*
Thumbs.db
tmp/*
.ruby-gemset
bin/*
*.sublime*
playground/
*~
*.log
